<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="CustomDrupal">
  <description>A custom coding standard to check that Drupal Best practices are followed.</description>

  <file>web/modules/custom</file>
  <file>web/themes/custom</file>
  <file>web/profiles/custom</file>

  <arg name="basepath" value="."/>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,yml"/>
  <arg name="parallel" value="75"/>
  <arg name="colors"/>
  <arg value="p"/>

    <!-- Ignore tests directories -->
    <exclude-pattern>*/tests/*</exclude-pattern>
    <exclude-pattern>*/Tests/*</exclude-pattern>
    <exclude-pattern>*.css</exclude-pattern>
    <exclude-pattern>*.js</exclude-pattern>

    <!-- Ignore various version control directories. -->
    <exclude-pattern>*/\.git/*</exclude-pattern>
    <exclude-pattern>*/\.svn/*</exclude-pattern>
    <exclude-pattern>*/\.hg/*</exclude-pattern>
    <exclude-pattern>*/\.bzr/*</exclude-pattern>

    <!-- Ignore custom -->
    <exclude-pattern>scripts/phpunit/*</exclude-pattern>
    <exclude-pattern>scripts/xhprof/*</exclude-pattern>
    <exclude-pattern>*/arval/css/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/node_modules/*</exclude-pattern>

  <rule ref="Drupal">
    <rule ref="Squiz.WhiteSpace.OperatorSpacing">
        <properties>
            <property name="ignoreNewlines" value="true"/>
        </properties>
    </rule>
    <exclude name="Drupal.Commenting.Deprecated"/>
  </rule>

  <!-- Disable as there is a lot to fix for custom code -->
  <rule ref="Drupal.Arrays.Array.LongLineDeclaration">
    <severity>0</severity>
  </rule>

  <!-- Disable missing class comment with 8.8 upgrade as there is a lot to fix -->
  <rule ref="Drupal.Commenting.ClassComment.Short">
    <severity>0</severity>
  </rule>

  <rule ref="DrupalPractice"/>

  <!--Generic PHP Sniff-->
  <rule ref="Squiz.WhiteSpace.OperatorSpacing" />
  <rule ref="Squiz.PHP.CommentedOutCode" />
  <rule ref="Squiz.PHP.Eval" />
</ruleset>
